<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/assets/icon.webp">
    <meta name="description" content="{{ page.description }}">
    <!-- OpenGraph tags -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://estrogen.monster/assets/pfp.jpg">
    <meta property="og:type" content="website">
    <!-- Backward compatibility -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        {{ content }}
        <footer class="footer">
            Website made with love by Mopigames :3
        </footer>
    </div>
    <!-- Only keep essential scripts -->
    <script src="/oneko.js"></script>
</body>
</html>
